Repository nielse63/node-debt-snowball: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,html,scss,css}": [
    "prettier --write"
  ]
}

created base classes and tests
  .babelrc
  .editorconfig
  .eslintignore
  .eslintrc.js
  .prettierignore
  .vscode/settings.json
  docs/api.md
  docs/data-flow.md
  jest.config.js
  package-lock.json
  package.json
  src/Account.js
  src/DebtSnowball.js
  src/__tests__/Account.spec.js
  src/__tests__/DebtSnowball.spec.js
  src/index.js
  webpack.config.js
Due: eslint --fix, prettier --write

fully testing the Account class
  README.md
  jest.config.js
  package-lock.json
  package.json
  src/Account.js
  src/Payment.js
  src/__tests__/Account.spec.js
Due: eslint --fix, prettier --write

working snowball method across accounts now
  .babelrc
  .eslintrc.js
  config/jest.init.js
  jest.config.js
  package-lock.json
  package.json
  src/Account.js
  src/DebtSnowball.js
  src/Payment.js
  src/__tests__/Account.spec.js
  src/__tests__/DebtSnowball.spec.js
Due: eslint --fix, prettier --write

returning results object from DebtSnowball.run()
  package-lock.json
  package.json
  src/Account.js
  src/DebtSnowball.js
  src/Payment.js
  src/__tests__/DebtSnowball.spec.js
Due: eslint --fix, prettier --write

updated module interface
  jest.config.js
  package-lock.json
  package.json
  src/DebtSnowball.js
  src/Payment.js
  src/__mocks__/accounts.mock.js
  src/__tests__/DebtSnowball.spec.js
  src/__tests__/Payment.spec.js
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, prettier --write

added prepublish build step
  .npmignore
  .release-it.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

chore: release
  package-lock.json
  package.json
Due: prettier --write

two params in DebtSnowball instead of an object
  .eslintignore
  .gitignore
  .prettierignore
  config/esdoc.config.js
  config/typedef.js
  docs/api.md
  docs/data-flow.md
  package-lock.json
  package.json
  src/Account.js
  src/DebtSnowball.js
  src/__tests__/Account.spec.js
  src/__tests__/DebtSnowball.spec.js
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, prettier --write

updated and response date data types
  README.md
  config/typedef.js
  src/Account.js
  src/DebtSnowball.js
  src/__tests__/DebtSnowball.spec.js
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, prettier --write

updated docs and created github workflow
  .github/workflows/node.yml
  README.md
  config/esdoc.config.js
  package-lock.json
  package.json
  src/__mocks__/output.mock.js
Due: eslint --fix, prettier --write

updated some packages
  .github/workflows/node.yml
  docs/README.md
  package-lock.json
  package.json
Due: prettier --write

renamed snowballs main execution method
  .browserslistrc
  README.md
  docs/README.md
  src/DebtSnowball.js
  src/__tests__/DebtSnowball.spec.js
  src/index.js
Due: eslint --fix, prettier --write

refactored classes to commonjs exports
  lib/Account.js
  lib/Snowball.js
  lib/__mocks__/data.mock.js
  lib/__mocks__/input.mock.js
  lib/__tests__/Account.spec.js
  lib/__tests__/Snowball.spec.js
  lib/helpers/toCurrency.js
  src/Account.js
  src/DebtSnowball.js
  src/Payment.js
  src/__mocks__/accounts.mock.js
  src/__mocks__/output.mock.js
  src/__tests__/Account.spec.js
  src/__tests__/DebtSnowball.spec.js
  src/__tests__/Payment.spec.js
  src/__tests__/index.spec.js
  src/index.js
Due: eslint --fix, prettier --write

updated project config
  .browserslistrc
  .eslintignore
  .eslintrc.js
  .npmignore
  .prettierignore
  .release-it.js
  docs/.nojekyll
  docs/README.md
  docs/index.html
  examples/index.js
  index.js
  jest.config.js
  lib/Account.js
  lib/Snowball.js
  package-lock.json
  package.json
  webpack.config.js
Due: eslint --fix, prettier --write

updated dependencies for jest & added github workflows
  .babelrc
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/node.yml
  .github/workflows/stale.yml
  .lintstagedrc
  .nvmrc
  .prettierignore
  .vscode/settings.json
  babel.config.js
  config/jest.init.js
  examples/index.js
  jest.config.js
  lib/helpers/toCurrency.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

updated dependencies related to linting and formatting
  .eslintrc.js
  .husky/.gitignore
  .husky/pre-commit
  .prettierrc
  babel.config.js
  jest.config.js
  lib/Account.js
  lib/Snowball.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

updated release-it
  .lintstagedrc
  .release-it.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Updated dependencies (#40)
  .babelrc
  .eslintrc.js
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/node.yml
  .github/workflows/stale.yml
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  .nvmrc
  .prettierignore
  .prettierrc
  .release-it.js
  .vscode/settings.json
  babel.config.js
  config/jest.init.js
  examples/index.js
  jest.config.js
  lib/Account.js
  lib/Snowball.js
  lib/helpers/toCurrency.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

removing license
  LICENSE
Due: none

added license
  LICENSE
  package.json
Due: prettier --write

chore: release v1.2.0
  package-lock.json
  package.json
Due: prettier --write

updated github workflows
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/node.js.yml
  .github/workflows/stale.yml
  jest.config.js
Due: eslint --fix, prettier --write

updated dependencies
  package-lock.json
  package.json
Due: prettier --write

Update GitHub actions (#58)
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/node.js.yml
  .github/workflows/stale.yml
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

chore: release v1.2.1
  package-lock.json
  package.json
Due: prettier --write

refactored source to typescript
  .eslintignore
  .eslintrc.js
  .release-it.js
  babel.config.js
  examples/index.js
  global.d.ts
  index.js
  jest.config.js.old
  lib/helpers/toCurrency.js
  package-lock.json
  package.json
  src/Account.ts
  src/Snowball.ts
  src/__fixtures__/data.ts
  src/__fixtures__/input.ts
  src/__tests__/Account.spec.ts
  src/__tests__/Snowball.spec.ts
  src/helpers.ts
  src/index.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

updated build configuration
  config/tsconfig.base.json
  config/tsconfig.cjs.json
  config/tsconfig.esm.json
  examples/index.js
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write

updated docs
  README.md
  docs/README.md
Due: prettier --write

updated jest config
  jest.config.js
  jest.config.js.old
Due: eslint --fix, prettier --write

fix dependency issue
  package-lock.json
  package.json
Due: prettier --write

Refactor to use TypeScript (#60)
  .eslintignore
  .eslintrc.js
  .release-it.js
  README.md
  babel.config.js
  config/tsconfig.base.json
  config/tsconfig.cjs.json
  config/tsconfig.esm.json
  docs/README.md
  examples/index.js
  global.d.ts
  index.js
  jest.config.js
  lib/helpers/toCurrency.js
  package-lock.json
  package.json
  src/Account.ts
  src/Snowball.ts
  src/__fixtures__/data.ts
  src/__fixtures__/input.ts
  src/__tests__/Account.spec.ts
  src/__tests__/Snowball.spec.ts
  src/helpers.ts
  src/index.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: release v2.0.0
  package-lock.json
  package.json
Due: prettier --write

updated package keywords
  package.json
Due: prettier --write

updated docs
  .husky/pre-commit
  README.md
  docs/README.md
  examples/index.js
  examples/response.json
Due: eslint --fix, prettier --write

updated docs (#61)
  .husky/pre-commit
  README.md
  docs/README.md
  examples/index.js
  examples/response.json
Due: eslint --fix, prettier --write

updated package.json config
  package.json
Due: prettier --write

updated api
  .eslintrc.js
  README.md
  config/tsconfig.base.json
  docs/README.md
  examples/index.js
  examples/response.json
  package-lock.json
  package.json
  src/Account.ts
  src/Snowball.ts
  src/__fixtures__/data.ts
  src/__fixtures__/input.ts
  src/__tests__/Account.spec.ts
  src/__tests__/Snowball.spec.ts
  src/types.d.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

updated api docs
  .gitignore
  .husky/pre-commit
  README.md
  config/typedoc.json
  docs/.nojekyll
  docs/README.md
  docs/api.json
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.IPayment.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.AccountConfig.html
  docs/types/src_types.Payment.html
  src/Snowball.ts
  src/index.ts
  src/types.d.ts
Due: eslint --fix, prettier --write
