Repository nielse63/node-debt-snowball: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

updated dependencies
  .npmignore
  .nvmrc
  package-lock.json
  package.json
Due: prettier --write

updated node version
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: prettier --write

renamed type and added test values
  src/Account.ts
  src/Snowball.ts
  src/__tests__/Snowball.spec.ts
  src/types.d.ts
Due: none

updated docs
  .husky/pre-commit
  docs/api.json
  docs/assets/search.js
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.IPayment.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.AccountOptions.html
  docs/types/src_types.Payment.html
  src/Snowball.ts
Due: eslint --fix, prettier --write

Update API (#80)
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .npmignore
  README.md
  config/tsconfig.base.json
  config/typedoc.json
  docs/.nojekyll
  docs/README.md
  docs/api.json
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.IPayment.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.AccountOptions.html
  docs/types/src_types.Payment.html
  examples/index.js
  examples/response.json
  package-lock.json
  package.json
  src/Account.ts
  src/Snowball.ts
  src/__fixtures__/data.ts
  src/__fixtures__/input.ts
  src/__tests__/Account.spec.ts
  src/__tests__/Snowball.spec.ts
  src/index.ts
  src/types.d.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: release v2.1.0
  package-lock.json
  package.json
Due: prettier --write

updated docs
  .bin/docs
  .gitignore
  .husky/pre-commit
  README.md
  config/typedoc.json
  docs/api.json
  docs/assets/icon.svg
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.IPayment.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.AccountOptions.html
  docs/types/src_types.Payment.html
  package.json
Due: prettier --write

updated dependencies
  .husky/pre-commit
  .nvmrc
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier --write

updated types and added example
  .bin/build
  .husky/pre-commit
  .vscode/settings.json
  README.md
  config/tsconfig.esm.json
  docs/api.json
  docs/assets/icons.js
  docs/assets/icons.svg
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.AccountObject.html
  docs/interfaces/src_types.IPayment.html
  docs/interfaces/src_types.PaymentObject.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.AccountOptions.html
  docs/types/src_types.Payment.html
  examples/index.ts
  package.json
  src/Account.ts
  src/Snowball.ts
  src/index.ts
  src/types.d.ts
Due: eslint --fix, prettier --write

added snapshot testing
  src/__tests__/Snowball.spec.ts
  src/__tests__/__snapshots__/Snowball.spec.ts.snap
Due: none

reverted recent changes to tsconfig.esm.json
  config/tsconfig.esm.json
Due: prettier --write

formatted all files
  src/types.d.ts
Due: none

chore: release v2.1.1
  package-lock.json
  package.json
Due: prettier --write

including src in releases
  .release-it.js
  docs/api.json
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.AccountObject.html
  docs/interfaces/src_types.PaymentObject.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.Payment.html
  package.json
  src/index.ts
Due: eslint --fix, prettier --write

chore: release v2.1.2
  package-lock.json
  package.json
Due: prettier --write

updated build process
  .bin/build
Due: none

chore: release v2.1.3
  package-lock.json
  package.json
Due: prettier --write

updated esm config
  .bin/build
  config/tsconfig.base.json
  config/tsconfig.esm.json
  examples/index.mjs
  package.json
Due: prettier --write

chore: release v2.1.4
  package-lock.json
  package.json
Due: prettier --write

removed sourcemap compile option
  config/tsconfig.base.json
  docs/assets/icon.svg
Due: prettier --write

chore: release v2.1.5
  package-lock.json
  package.json
Due: prettier --write

added new classes and improved output
  .bin/build
  README.md
  config/tsconfig.base.json
  config/tsconfig.build.json
  config/tsconfig.cjs.json
  config/tsconfig.esm.json
  docs/api.json
  docs/assets/navigation.js
  docs/assets/search.js
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.AccountObject.html
  docs/interfaces/src_types.PaymentObject.html
  docs/interfaces/src_types.PaymentOptions.html
  docs/interfaces/src_types.PaymentPlanObject.html
  docs/interfaces/src_types.ResultsObject.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.Payment.html
  examples/index.js
  examples/index.mjs
  examples/response.json
  package-lock.json
  package.json
  src/Account.ts
  src/Payment.ts
  src/Results.ts
  src/Snowball.ts
  src/__tests__/Account.spec.ts
  src/__tests__/Payment.spec.js
  src/__tests__/Snowball.spec.ts
  src/__tests__/__snapshots__/Snowball.spec.ts.snap
  src/types.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: release v2.2.0
  package-lock.json
  package.json
Due: prettier --write

added error handling
  docs/api.json
  docs/assets/search.js
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/index.html
  docs/interfaces/src_types.AccountObject.html
  docs/interfaces/src_types.PaymentObject.html
  docs/interfaces/src_types.PaymentOptions.html
  docs/interfaces/src_types.PaymentPlanObject.html
  docs/interfaces/src_types.ResultsObject.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.Payment.html
  src/Account.ts
  src/Payment.ts
  src/Snowball.ts
  src/__tests__/Account.spec.ts
  src/__tests__/Payment.spec.js
  src/constants.ts
Due: eslint --fix, prettier --write

updated exports
  docs/api.json
  docs/assets/navigation.js
  docs/assets/search.js
  docs/classes/node_debt_snowball.Payment.html
  docs/classes/node_debt_snowball.Results.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.default.html
  docs/functions/node_debt_snowball.snowball-1.html
  docs/hierarchy.html
  docs/interfaces/src_types.ResultsObject.html
  docs/modules/node_debt_snowball.html
  src/index.ts
Due: eslint --fix, prettier --write

chore: release v2.3.0
  package-lock.json
  package.json
Due: prettier --write

fixed types import/export
  docs/api.json
  docs/assets/navigation.js
  docs/assets/search.js
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Payment.html
  docs/classes/node_debt_snowball.Results.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.snowball-1.html
  docs/hierarchy.html
  docs/index.html
  docs/interfaces/src_types.AccountObject.html
  docs/interfaces/src_types.PaymentObject.html
  docs/interfaces/src_types.PaymentOptions.html
  docs/interfaces/src_types.PaymentPlanObject.html
  docs/interfaces/src_types.ResultsObject.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.Payment.html
  global.d.ts
  src/Account.ts
  src/Payment.ts
  src/Results.ts
  src/Snowball.ts
  src/index.ts
Due: eslint --fix, prettier --write

chore: release v2.3.1
  package-lock.json
  package.json
Due: prettier --write

updated type exports
  docs/api.json
  docs/assets/navigation.js
  docs/assets/search.js
  docs/classes/Account.html
  docs/classes/Payment.html
  docs/classes/Results.html
  docs/classes/Snowball.html
  docs/classes/node_debt_snowball.Account.html
  docs/classes/node_debt_snowball.Payment.html
  docs/classes/node_debt_snowball.Results.html
  docs/classes/node_debt_snowball.Snowball.html
  docs/functions/node_debt_snowball.snowball-1.html
  docs/functions/snowball-1.html
  docs/hierarchy.html
  docs/index.html
  docs/interfaces/AccountObject.html
  docs/interfaces/PaymentObject.html
  docs/interfaces/PaymentOptions.html
  docs/interfaces/PaymentPlanObject.html
  docs/interfaces/ResultsObject.html
  docs/interfaces/src_types.AccountObject.html
  docs/interfaces/src_types.PaymentObject.html
  docs/interfaces/src_types.PaymentOptions.html
  docs/interfaces/src_types.PaymentPlanObject.html
  docs/interfaces/src_types.ResultsObject.html
  docs/modules.html
  docs/modules/node_debt_snowball.html
  docs/modules/src_types.html
  docs/types/src_types.Payment.html
  global.d.ts
  src/Account.ts
  src/Payment.ts
  src/Results.ts
  src/Snowball.ts
  src/index.ts
  src/types.ts
  tsconfig.json
Due: eslint --fix, prettier --write

updated type exports
  config/typedoc.json
Due: prettier --write

updated typedoc config
  config/typedoc.json
Due: prettier --write

chore: release v2.3.2
  package-lock.json
  package.json
Due: prettier --write

updated PaymentObject type
  docs/api.json
  docs/assets/search.js
  docs/classes/Account.html
  docs/classes/Payment.html
  docs/classes/Results.html
  docs/classes/Snowball.html
  docs/functions/snowball-1.html
  docs/hierarchy.html
  docs/index.html
  docs/interfaces/AccountObject.html
  docs/interfaces/PaymentObject.html
  docs/interfaces/PaymentOptions.html
  docs/interfaces/PaymentPlanObject.html
  docs/interfaces/ResultsObject.html
  docs/modules.html
  global.d.ts
  src/types.ts
Due: eslint --fix, prettier --write

chore: release v2.3.3
  package-lock.json
  package.json
Due: prettier --write

updated typings
  docs/api.json
  docs/classes/Account.html
  docs/classes/Payment.html
  docs/classes/Results.html
  docs/classes/Snowball.html
  docs/functions/snowball-1.html
  docs/hierarchy.html
  docs/index.html
  docs/interfaces/AccountObject.html
  docs/interfaces/PaymentObject.html
  docs/interfaces/PaymentOptions.html
  docs/interfaces/PaymentPlanObject.html
  docs/interfaces/ResultsObject.html
  docs/modules.html
  src/Account.ts
  src/Snowball.ts
  src/types.ts
Due: prettier --write

chore: release v2.3.4
  package-lock.json
  package.json
Due: prettier --write

updated dependencies and license
  LICENSE
  package-lock.json
  package.json
Due: prettier --write

minor syntax update
  docs/api.json
  docs/classes/Account.html
  docs/classes/Payment.html
  docs/classes/Results.html
  docs/classes/Snowball.html
  docs/functions/snowball-1.html
  docs/hierarchy.html
  docs/index.html
  docs/interfaces/AccountObject.html
  docs/interfaces/PaymentObject.html
  docs/interfaces/PaymentOptions.html
  docs/interfaces/PaymentPlanObject.html
  docs/interfaces/ResultsObject.html
  docs/modules.html
  src/Snowball.ts
  src/__tests__/Account.spec.ts
Due: prettier --write

updated docs
  README.md
  docs/api.json
  docs/assets/highlight.css
  docs/index.html
Due: prettier --write

created strategy option
  .bin/build
  docs/api.json
  docs/assets/highlight.css
  docs/assets/navigation.js
  docs/assets/search.js
  docs/classes/Snowball.html
  docs/enums/AccountObjectKeys.html
  docs/enums/OrderDirection.html
  docs/enums/RepaymentStrategy.html
  docs/functions/snowball-1.html
  docs/index.html
  docs/interfaces/PaymentObject.html
  docs/interfaces/PaymentOptions.html
  docs/interfaces/PaymentPlanObject.html
  docs/interfaces/ResultsObject.html
  docs/modules.html
  docs/variables/REPAYMENT_STRATEGIES.html
  src/Snowball.ts
  src/__tests__/Snowball.spec.ts
  src/__tests__/__snapshots__/Snowball.spec.ts.snap
  src/constants.ts
  src/index.ts
  src/types.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: (any of: *.js) or (any of: *.{json,md,html,scss,css})
